@import "./utils/colors.scss";
@import "./utils/veriables.scss";
@import "./utils/implement.scss";

@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/text.scss";
@import "./components/picture.scss";
@import "./components/team.scss";
@import "./components/ourclients.scss";
@import "./components/footer.scss";
@import "./components/list.scss";
@import "./components/image.scss";
@import "./components/overlay.scss";
@import "./components/modal.scss";




