.header {
    width: 1200px;
    border-bottom: 1px solid #fff;
    margin: 0 auto;

&__position {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 15px 25px 15px;
  }
 &__logo-appearance {
    font-family: "Relaway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: var(--darkgrey);
  }
&__logo-blue {
    color: var(--blue);
  }
&__pages-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 96px;
    gap: 43px;
  }
&__pages-appearance {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--darkgrey);
  }
&__contacts-position {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 371px;
  }
&__contacts-apperarance {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey);
    display: flex;
    align-items: center;
    gap: 10px;
  }
 &__contacts-apperarance:hover, &__contacts-apperarance:focus {
    cursor: pointer;
    fill: var(--blue);
  }
&__contacts-apperarance:first-child {
    padding-right: 50px;
  }
&__icons {
    fill: var(--grey);
  }
&__link::after {
    content: "";
    transform: translateY(30px);
    background-color: #2196f3;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    display: block;
  }
}