.overlay {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
  
&__text {
    background-color: rgba(33, 150, 243, 0.9);
    padding: 49px 45px 49px 24px;
    margin: 0;
    width: 301px;
    height: 196px;
    font-family: "Roboto";
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    color: var(--white);
    position: absolute; 
    transform: translateY(0px);
    transform-origin: bottom; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 300ms ease;
    opacity: 90%;
  
  }
  &:hover &__text {
    transform: translateY(-294px);
  }
}